<br><br>

<div class="row" style="margin: 10px;">
   
 
    <img src="../../../assets/images/logo final.png" 
    style="height:150px ; width:150px" 
    class="rounded mx-auto d-block" alt="logo">


<div class="container text-center">
    <div class="row">
      <div class="col-md-12" style="font-size: 20px;">
       <b> PMC Electronics </b>
       <br><br>
       <p></p>
      </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-4" style="font-size:25px ;font-family: Times New Roman, Times, serif; "> 
            
        <b>Customer Data</b>

        <div class="container" style="font-size:20px; margin-top: 40px;">
          <div class="row">

        <div class="col-data"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg> {{arr.name}}
        </div><br><br>

        <div class="col-data"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg> {{arr.email}}
        </div><br><br>

        <div class="col-data"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>{{arr.phoneNo}}
        </div><br><br>

        <div class="col-data"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>{{myDate| date:"yyyy/MM/dd HH:mm"}}
        </div><br><br><br>
    </div>

</div>
</div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
          </tr>
          <br>
        </thead>
        <tbody>
          <tr *ngFor="let getCartDetail of getCartDetails; let i = index ">
            <td>{{getCartDetail.title}}</td>
            <td>$ {{getCartDetail.price}}</td>
            <td>
              <span style="font-size:18px ; margin-left: 5px; margin-right: 5px;">{{getCartDetail.quantity}}</span>
            </td>
            <td>$ {{getCartDetail.quantity * getCartDetail.price| number}}</td> 
          </tr>
        </tbody>
      </table> 
     

      <!-- <div class="row">
        <div class="col-md-6 ">
          <h3>Total-$ {{total}}</h3>
        </div>
      </div> -->


      <div class="container text-center">
        <div class="row" style="margin-top:50px; margin-bottom: 50px; font-size: large;">
          <!-- <div class="col-md-12" style="font-size: 20px;"> -->
           <b> Summary </b>
          <!-- </div> -->
        </div>
    </div>

    <hr>

    <div class="container">
      <div class="row justify-content-end" style="font-size: 20px; font-style: strong;">

        <div class="col-md-2 ">
         <strong>Total : $ {{total}}</strong>
        </div>
    
      </div>
      <hr>
    </div>

    <button type="button" class="btn btn-primary" (click)="Ondone()">Done</button>
    

    

</div>
   

    
 