<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h1 class="heading"><b>Sign in</b></h1>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm"  autocomplete="off">
            <div class="form-outline mb-4">
              <!-- <label class="form-label" for="typeEmailX-2" >Email</label> -->
              <input type="email" 
              placeholder="E-mail"
              id="typeEmailX-2" 
              class="form-control form-control-lg" 
              ngModel
              name="email"
              required
              email
              #email="ngModel">
              <span class="help-back" *ngIf="!email.valid && email.touched"> Please enter a valid information </span>
            </div>

            <div class="form-outline mb-4">
              <!-- <label class="form-label" for="typePasswordX-2">Password</label> -->
              <input type="password" 
              placeholder="Password"
              id="typePasswordX-2" 
              class="form-control form-control-lg"
              ngModel
              name="password"
              required
              #password="ngModel"
              minlength="6" />
              <span class="help-back" *ngIf="!password.valid && password.touched"> Please enter a valid password </span>
              
            </div>

            <button class="btn btn-primary btn-lg btn-block" 
            type="submit" 
            [disabled]="!f.valid">Login</button>

          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 